@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --red: #ff3838;
  --green: green;
  --btn-color: #e58f00;
  --about-sec: #1d1d23;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #f7f7f7;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.header #logo img {
  width: 50px;
  height: 50px;
  border: 1px solid orange;
}

header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: black;
}

/* .content .dropdown a {
  font-size: 2rem;
  margin-left: 2rem;
  color: black;
} */
header .navbar a:hover {
  color: var(--btn-color);
}

/* .content .dropdown a:hover {
  color: var(--btn-color);
} */
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  margin-left: 2rem;
  color: black;
  cursor: pointer;
}

.dropdown:hover {
  color: var(--btn-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#menu-bars {
  color: #666;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #666;
  border-radius: 8px;
  font-size: 4rem;
  display: none;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #666;
  margin: 10px;
}

.heading span {
  color: #e58f00;
}

/* home css design */

.home {
  background: url(images/home-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .content h3 {
  font-size: 5rem;
  color: #333;
}

.home .content p {
  font-size: 1.5rem;
  color: #333;
  padding: 1rem 0;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(3rem);
  }
}

.speciality-heading {
  font-size: 40px;
  padding: 1.5rem 0;
  text-align: center;
  color: #333;
}

.speciality-heading span {
  color: #e58f00;
}

.main-box-speciality {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.main-box-speciality .box {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.1rem solid var(--btn-color);
  cursor: pointer;
  border-radius: 1rem;
  max-height: 32rem;
}

.main-box-speciality .box .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  left: 0;
}

.main-box-speciality .box:hover .image {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.main-box-speciality .box .content {
  background: white;
  text-align: center;
  padding: 2rem;
}

.main-box-speciality .box .content img {
  margin: 1.5rem 0;
}

.speciality .main-box-speciality .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.speciality .main-box-speciality .box .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.popular .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.paneer,
.mushroom,
.dal,
.kofta,
.chaap,
.chana,
.vegetable,
.rice,
.naan,
.roti,
.paratha,
.rayta,
.salad,
.chinese {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.popular .box-container .box {
  width: calc(33.33% - 20px);
  /* Adjust the width as needed */
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem;
}
.popular .box-container .box .dis {
  position: absolute;
  right: 0rem;
  /* top: 3rem; */
  padding: 0rem .4rem;
  font-size: 1.8rem;
  font-weight: 800;
  color: white;
  background-color: red;
  border-radius: 10px;
  /* border: 1px solid white; */
}
.pricee{
  font-size: 1.8rem;
}
.mrp{
  text-decoration: line-through;
  margin: 1rem;
  color: grey;
  font-style: italic;
}
.rev{
  background-color: green;
  color: white;
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  position: absolute;
  right: 0rem;
}
.popular .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popular .box-container .box .icons {
  position: absolute;
  color: #e58f00;
  display: flex;
  flex-direction: column;
  right: -20%;
  opacity: 0;
  transition: 0.9s;
}

#cart-count {
  font-size: large;
  cursor: pointer;
}

.fa-shopping-cart {
  cursor: pointer;
}

.quantity {
  display: inline-block;
  padding: 0.8rem 1rem;
  /* border: 0.2rem solid var(--btn-color); */
  color: var(--btn-color);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.quantity-icon {
  /* border: 1px solid black; */
  margin: 1px;
  padding: 3px 3px;
  background-color: orange;
  color: white;
  cursor: pointer;
}

.category-dropdown {
  height: 3rem;
  margin-top: 1.7rem;
  background: transparent;
}
.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid black;
  background: repeating-radial-gradient(black, transparent 100px);
  color: white;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 3.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 2rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--btn-color);
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover {
  color: white;
  border: none
}

.btn:hover::before {
  width: 100%;
  left: 0;
}
.btn h4{
  text-align: center;
}
.btnn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid black;
  background: repeating-radial-gradient(black, transparent 100px);
  color: white;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 3.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 2rem;
  /* margin-left: 18rem; */
}

.btnn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--btn-color);
  transition: 0.3s linear;
  z-index: -1;
}

.btnn:hover {
  color: white;
  border: none
}

.btnn:hover::before {
  width: 100%;
  left: 0;
}

.go {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid wheat;
  background: green;
  color: white;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 3.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 2rem;
  margin-left: 10rem;
}

.go::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--green);
  transition: 0.3s linear;
  z-index: -1;
}

.go:hover {
  color: white;
  border: 0.2rem solid wheat;
}

.go:hover::before {
  width: 100%;
  left: 0;
}

.content img {
  height: 66px;
  width: 100px;
}

header img {
  border-radius: 30px;
}

.popular .box-container .box:hover .icons {
  right: 10%;
  opacity: 0.9;
}

.popular .box-container .box .icons i {
  background: white;
  margin: 1rem;
  font-size: 2rem;
  border: 1px solid var(--about-sec);
  padding: 1rem;
}

.popular .box-container .box img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

.popular .box-container .box .stars i {
  color: gold;
  font-size: 1.7rem;
  padding: 1rem 0.1rem;
}

.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.review {
  padding-top: 10rem;
}
.review .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  flex: 1 1 30rem;
  background: var(--btn-color);
  margin-top: 6rem;
  cursor: pointer;
  transition: 0.5s;
}

.cart-table {
  width: 100%;
  /* You can adjust the width value as needed */
}

.review .box-container .box img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
  transform: rotate(30deg);
  cursor: pointer;
}

.review .box-container .box:hover img {
  transform: rotate(0deg);
}

.review .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--about-sec);
  padding: 0.5rem 0;
}

.review .box-container .box .stars i {
  font-size: 2rem;
  color: var(--red);
  padding: 0.5rem 0;
}

.review .box-container .box p {
  font-size: 1.5rem;
  color: var(--about-sec);
  padding: 1rem 0;
}

.order .row {
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-radius: 0.5rem;
}

.order .row .image {
  flex: 1 1 30rem;
}

.footer-hr-cell {
  border-bottom: 1px solid #acaaaa; 
  padding: 5px 0; 
}

.footer-hr-cell > * {
  vertical-align: middle;
}

.order .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.order .row form {
  flex: 1 1 50rem;
  padding: 1rem;
}

.order .row form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .inputBox input,
.order .row form textarea {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 49%;
}

.order .row form textarea {
  width: 100%;
  resize: none;
  height: 15rem;
}

.order .row form .btn {
  background: none;
}

.order .row form .btn:hover {
  background: var(--red);
}

.footer {
  background: #000;
  text-align: center;
  padding: rem 0;
}

.footer .share {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit span {
  color: var(--red);
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 3rem;
  }

  .home .image img {
    width: 100%;
    padding-top: 8rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
.popular, .speciality{
  padding: 2rem;
}
  #menu-bars {
    display: initial;
  }

  .main-box-speciality .box {
    width: calc(47% - 6px);
  }

  .main-box-speciality .box p {
    display: none;
  }
  .main-box-speciality .box .content{
    height: 22rem;
  }

  .popular .box-container .box {
    width: calc(47% - 6px);
  }

  .popular .box-container .box img {
    height: 16rem;
  }
  .popular .box-container .box .dis {
    font-size: 1.4rem;
    }

  .popular .box-container .box h3 {
    font-size: 1.2rem;
  }

  .popular .box-container .box .star i {
    font-size: 1.5rem;
  }
  .popular .box-container .box .category-dropdown {
    height: 2.5rem;
    width: 4rem;
    font-size: 12px;
  }

  .btn {
    padding: .5rem 1.5rem;
    font-size: 1rem;
  }

  .btnn {
    padding: .5rem 1.5rem;
    font-size: 1rem;
  }
  
  .go{
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    margin-left: 7rem;
  }
  .mrp{
    font-size: 1.5rem;
  }
  .rev{
    font-style: 1.2rem;
  }
  .popup-option{
    font-size: .9rem;
  }
  .cart-table .header-spaced {
    font-size: 1.8rem;
    text-align: center;
    /* border: 1px solid black; */
  }

  .cart-table .cart-footer {
    font-size: 1.7rem;
    /* border: 1px solid black; */
  }

  .cart-table .submit-button {
    font-size: 1rem;
    /* border: 1px solid black; */
  }

  .cart-table .center-align {
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
    /* border: 1px solid black; */
    padding: 1rem 0;
  }

  .cart-table td img {
    width: 50px;
    height: 50px;
  }

  .cart-table .item-quantity {
    font-size: 2rem;
  }
  .navbar {
    position: absolute;
    top: 0;
    left: 0%;
    right: 0;
    background: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 1%, 100% 0, 0 0);
  }

  .navbar.active {
    top: 100%;
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
  }

  .navbar a {
    font-size: 1.5rem;
    margin: 1.5rem;
    padding: 1.5rem;
    background: white;
    display: block;
    border: 0.2rem solid var(--about-sec);
    border-left: 0.5rem solid var(--btn-color);
  }

  .home .image {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .home .image img {
    width: 95%;
    padding-top: 8rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .order .row form .inputBox input {
    width: 100%;
  }
}

/* Styling for the cart modal */
.modal {
  display: none;
  /* Hide the modal by default */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Semi-transparent black background */
}

/* Styling for the modal content */
.modal-content {
  background-color: #fff;
  max-width: 570px;
  margin: 20px auto;
  /* padding: 20px; */
  padding-left: 10px;
  border-radius: 20px;
  position: relative;
}

/* Styling for the close button (x icon) in the modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.header-spaced {
  text-align: center;
  color: orange;
  font-size: 2rem;
  padding-right: 38px;
}

td img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-align {
  text-align: center;
  align-items: center;
  padding-right: 39px;
  font-size: 1.4rem;
}

.item-quantity {
  font-size: 2rem;
}

.delete-icon {
  display: flex;
  justify-content: center;
  /* Center align horizontally */
  align-items: center;
  /* Center align vertically */
  cursor: pointer;
  font-size: 1.2rem;
}

.delete-icon:hover {
  color: var(--red);
}

.cart-row {
  border-bottom: 1px solid black;
}

.cart-footer {
  font-size: 1.5rem;
  font-weight: bold;
}

/* -------------------Add CSS styles for dark mode------------------------------ */

body.dark-mode {
  background-color: black;
  color: white;
}
body.dark-mode .speciality-heading {
  color: white;
}
body.dark-mode .popup-option {
  color: black;
  background: repeating-radial-gradient(white, rgba(100, 100, 111, 0.2) 100px);
}

body.dark-mode .btn {
  color: black;
  background: repeating-radial-gradient(white, rgba(100, 100, 111, 0.2) 200px);
}
body.dark-mode .btnn {
  color: black;
  background: repeating-radial-gradient(white, rgba(100, 100, 111, 0.2) 100px);
}
/* body.dark-mode .go {
  background-color: white;
  color: #191919;
} */

body.dark-mode .home {
  background-image: none;
  background: black
}
body.dark-mode .popular .box-container .box {
  background-color: #333333;
}

body.dark-mode .review .box-container .box {
  background-color: black;
}

body.dark-mode .review .box-container .box h3 {
  color: white;
}

body.dark-mode .review .box-container .box p {
  color: white;
}

body.dark-mode .home .content h3,
body.dark-mode .home .content p {
  color: white;
}

body.dark-mode .header {
  background-color: #191919
}
body.dark-mode .header a {
  color: white;
  background: #191919
}

body.dark-mode .navbar {
  background: #191919
}

body.dark-mode .modal-content {
  background-color: #191919;
}

body.dark-mode .dropdown-content {
  background-color: black;
  color: white;
}

body.dark-mode .main-box-speciality .box .content {
  background: #333333
}

body.dark-mode .speciality {
  background-color: black;
}

body.dark-mode .speciality .main-box-speciality .box .content h3 {
  color: white
}

body.dark-mode .popular .box-container .box h3 {
  color: white;
}

body.dark-mode .contact-col div h5 {
  color: white;
}

body.dark-mode .dropdown {
  color: white;
}

body.dark-mode .dropdown:hover {
  color: var(--btn-color);
}

body.dark-mode .header a:hover {
  color: var(--btn-color);
}

.dark-mode-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.dark-mode-toggle #mode-icon {
  font-size: 3rem;
  cursor: pointer;
}

body.dark-mode .size{
  color: white;
  background-color: #333333;
}
body.dark-mode .dropdownn{
  border: 1px solid white;
}
/*------------------------contact-us style---------------------------*/

.contact-us {
  margin: auto;
  /* padding: 2rem 16rem; */
}
.contact {
  padding-top: 10rem;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact-col div p {
  padding: 0;
}

.submit-button {
  margin: 1rem;
  text-align: center;
  background-color: green;
  color: white;
  padding: 7px 5px;
  border-radius: 33px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.popup-option {
  padding: 0.8rem;
  border: 0.2rem solid black;
  color: white;
  background: repeating-radial-gradient(black, transparent 100px);
  cursor: pointer;
  font-size: 1rem;
  margin-left: .8rem;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 2rem;
}


.popup-option::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--btn-color);
  transition: 0.3s linear;
  z-index: -1;
}

.popup-option:hover {
  color: white;
  border: none;
}

.popup-option:hover::before {
  width: 100%;
  left: 0;
}
.scroll-down {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: transparent;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.scroll-down i {
  color: var(--btn-color);
  font-size: 24px;
}

.scroll-down:hover {
  transform: translateY(4px);
}
.size{
  padding: 0;
  width: 100%;
  margin: 0;
  background: transparent;
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
}
.dropdownn{
  margin-top: 1rem;
  border: 1px solid black;
}
/* CSS for the zoomed-in image container */
.image-zoom-container {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  overflow: auto;
}

.zoomed-image {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  max-height: 80%;
}

.close-zoom {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}